body {
  font-family: "Lucida Console", "Lucida Sans Unicode", "Courier New";
  color: white;
  background-color: #1d1f21;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#sidebar {
  text-align: center;
  margin-bottom: 20px;
}

#sidebar h1 {
  color: #58d49f;
  font-size: 36px;
  margin-bottom: 10px;
}

#profile {
  max-width: 100%;
}

#injected {
  font-size: 16px;
  color: white;
  text-align: justify;
  margin-top: 20px;
}

#injected h2 {
  color: #58d49f;
  font-size: 24px;
  margin-top: 20px;
}

#injected ul {
  list-style: none;
  padding-left: 0;
}

#injected li {
  margin-bottom: 10px;
}

#injected a {
  color: #b5bd68;
  text-decoration: underline;
}

#Copyright {
  color: #373b41;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  #sidebar h1 {
    font-size: 24px;
  }
}
